.admin-producto .btn-agregar {
  background-color: #C31C1C;
  color: white;
  border: none;
}

.admin-producto .btn-agregar:hover {
  background-color: red;
  color: #fff;
  cursor: pointer;
}

.admin-producto .card {
  background-color: rgb(27, 27, 27);
  color: white;
  border-radius: 10px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: justify;
}

.admin-producto .card-img-top {
  height: 200px;
  object-fit: cover;
}

.admin-producto .card-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.admin-producto .btn-editar {
  background-color: #f1960c !important;
  color: white !important;
  border: none !important;
}

.admin-producto .btn-editar:hover {
  background-color: #ff7300 !important;
  color: white !important;
  cursor: pointer !important;
}

.admin-producto .btn-eliminar {
  background-color: #C31C1C !important;
  color: white !important;
  border: none !important;
}

.admin-producto .btn-eliminar:hover {
  background-color: red !important;
  color: white !important;
  cursor: pointer !important;
}

.admin-producto .card-body .d-flex {
  gap: 10px;
  margin-top: auto;
}

.admin-producto .modal-con-footer .modal-content {
  background-color: #2c2f33;
  color: white;
  border-radius: 12px;
  border: 1px solid #444;
}

.admin-producto .modal-con-footer .modal-header,
.admin-producto .modal-con-footer .modal-footer {
  border-color: #555;
}

.admin-producto .modal-con-footer .modal-title {
  color: #fff;
}

.admin-producto .modal-con-footer .modal-footer {
  display: flex;
  justify-content: space-between;
}

.admin-producto .modal-con-footer .btn-primary {
  background-color: #C31C1C;
  border: none;
}

.admin-producto .modal-con-footer .btn-primary:hover {
  background-color: red;
  color: #fff;
  cursor: pointer;
}

.admin-producto .modal-con-footer .form-control {
  background-color: #1f2124 !important;
  color: white !important;
  border: 1px solid #C31C1C !important;
  box-shadow: none !important;
  outline: none !important;
}

.admin-producto .form-control,
.admin-producto .form-control:focus,
.admin-producto .form-control:active {
  background-color: #1f2124 !important;
  color: white !important;
  border: 1px solid #C31C1C !important;
  box-shadow: none !important;
  outline: none !important;
}

.admin-producto .form-control::placeholder {
  color: #aaa;
}

.admin-producto .form-control.bg-transparent,
.admin-producto .form-control.bg-transparent:focus,
.admin-producto .form-control.bg-transparent:active {
  background-color: #1e1e1e !important;
  border: 1px solid #C31C1C !important;
  color: white !important;
  box-shadow: none !important;
  outline: none !important;
}

.admin-producto input.form-control {
  border-radius: 8px;
}
