body {
    background-color: #29282D;
    color: white;
  }

.home-container {
    min-height: 100vh;
    /* border: solid 5px blue;  */

}

.producto {
    min-height: 30vh;
}

.titulos-container {
    text-align: center;
    margin-top: 20px;
    font-family: 'Paytone One', sans-serif;
}
