.iniciarsesion-container{
    margin-top: 50px;
}

@media (min-width: 768px) {
    .iniciarsesion-container {
      max-width: 50%;
    }
}

.boton-texto-div {
    text-align: center;
}

.texto {
    margin: 30px;
    color: #5A595B;
}

.registrarse {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease, transform 0.3s ease;
}
  
.registrarse:hover {
    color: white; 
    transform: scale(1.05); 
}
  