
body {
    margin: 0;
    /* font-family: "Papyrus", fantasy;  */ /* <----- CAMBIAR FONT DE LA PÃGINA*/
    min-height: 200vh;
    display: flex;
    flex-direction: column;
}
  
#root {
    flex: 1;
    display: flex;
    flex-direction: column;
}
  
main {
    flex: 1;
}
  