.registrarse-container{
    margin-top: 50px;
}

@media (min-width: 768px) {
    .registrarse-container {
      max-width: 50%;
    }
}

.boton-texto-div {
    text-align: center;
}

.texto {
    margin: 30px;
    color: #5A595B;
}

.iniciar-sesion {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease, transform 0.3s ease;
}
  
.iniciar-sesion:hover {
    color: white; 
    transform: scale(1.05); 
}
  
.custom-select {
    background-color: #1E1E1E; 
    color: white;
    border: 1px solid #444444;
}

.custom-select:focus {
    background-color: #1E1E1E;
    color: white;
    border-color: #80bdff;
    outline: none;
    box-shadow: 0 0 0 0.25rem rgba(38, 143, 255, 0.25);
}

.custom-select option:checked {
    background-color: #1E1E1E; 
    color: white;
}
