.imagen-container {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /* margin-top: 20px; */
    color: white;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 40px;
    border: 5px;
    border-radius: 3%;
    overflow: hidden;
    font-size: 2rem; 
}

.imagen-content {
    font-family: 'Paytone One', sans-serif;
    font-weight: bold; 
    margin: 0px 15px;
    
    display: flex;
    flex-direction: column;
}

.imagen-animated {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
  
.imagen-animated:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
  