.imagen-container {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /* margin-top: 20px; */
    color: white;
    min-height: 50vh;
     
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    border: 5px;
    border-radius: 3%;
    overflow: hidden;
}

.imagen-content {
    text-align: center; 
    font-family: 'Paytone One', sans-serif;
    font-weight: bold; 
    font-size: 2rem; 
    margin: 0px 15px;

    display: flex;
    flex-direction: column;
}
  

